PORT=3000
DATABASE_URL="postgresql://werewolf:werewolf@localhost:55432/werewolf?schema=public"
API_PORT=3000
POSTGRES_PORT=55432
POSTGRES_DB=werewolf
POSTGRES_USER=werewolf
POSTGRES_PASSWORD=werewolf
